*~
*.bak
/db
/incremental_db
/simulation
/output_files
*.o
*.rpt
*.compiled
/work
*.ghw
*.vcd
qar_info.json
riscv.qpf
riscv.qsf
riscv.qws
program.hex
program.txt
riscv_assignment_defaults.qdf
ram_init.vhd
add
alu
alu_control
control
data_memory
im_gen
instruction_memory
mux
pll
proc
proc_test
ram_init
reg_pc
registers
